<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <form th:action="@{/posts/write}" th:object="${form}" method="post">
            <div class="form-group">
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" class="form-control"
                       placeholder="제목을 입력하세요"/>
            </div>
            <div class="form-group">
                <label th:for="category">카테고리</label>
                <select th:field="*{category}" class="form-control">
                    <option th:value="NORMAL" th:text="'일반 게시글'"
                            th:selected="${form.category == 'NORMAL'}"></option>
                    <option th:value="QNA" th:text="'질문 게시글'"
                            th:selected="${form.category == 'QNA'}"></option>
<!--                    <option th:value="PROJECT" th:text="프로젝트 게시글"-->
<!--                            th:selected="${form.category == 'PROJECT'}"></option>-->
<!--                </select>-->
<!--                    <option value=null>카테고리 선택</option>-->
<!--                    <option th:each="category : ${categories}" th:value="${category}"-->
<!--                            th:text="${category.getCategory()}">일반 게시글</option>-->
                </select>
            </div>
            <div class="form-group">
                <label th:for="contents">내용</label>
                <input type="text" th:field="*{contents}" class="form-control"
                       placeholder="내용을 입력하세요"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
    </div> <!-- /container -->
</th:block>
</body>
</html>