<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>postDetail</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div th:if="${form}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>게시글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>날짜</th>

            </tr>
            <tr>
                <th th:text="${form.id}"></th>
                <th th:text="${form.title}"></th>
                <th th:text="${form.writer}"></th>
                <th th:text="${form.viewCount}"></th>
                <th th:text="${form.date}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:attr="colspan=${5}" th:text="${form.contents}"></td>
            </tr>
            <tr>
                <td rowspan="5">
                    <form th:action="@{/posts/{id}/edit (id=${form.id})}" method="get">
                        <button type="submit" class="btn btn-primary">
                            수정
                        </button>
                    </form>
                    <form th:action="@{/posts/{id}/delete (id=${form.id})}" method="post">
                        <button type="submit" class="btn btn-primary">
                            삭제
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div th:unless="${form}">
        <p>게시물을 찾을 수 없습니다.</p>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>