<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll(".clickable-post");
            rows.forEach(row => {
                row.addEventListener("click", function () {
                    const postId = row.getAttribute("data-postId");
                    if (postId) {
                        window.location.href = "/posts/" + postId
                    }
                })
            })
        })
    </script>
    <style>
        .bottom-group {
            padding: 10px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h1>게시판</h1>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}" th:attr="data-postId=${post.postId}" class="clickable-post">
                    <td th:text="${post.postId}"></td>
                    <td th:text="${post.category}"></td>
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.writer}"></td>
                    <td th:text="${post.viewCount}"></td>
                    <td th:text="${post.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom-group">
            <form th:action="@{/}" th:object="${searchCondition}" method="get">
                <div class="form-group">
                    <select th:field="*{title}">
                        <option th:value="writer" th:text="작성자"
                                th:selected="${searchCondition.title == 'writer'}"></option>
                        <option th:value="title" th:text="제목"
                                th:selected="${searchCondition.title == 'title'}"></option>
                    </select>
                    <input type="text" th:field="*{contents}" class="form-control"/>
                    <select th:field="${searchCondition.category}" class="form-select" th:errorclass="field-error">
                        <option value=null>카테고리 선택</option>
                        <option th:each="category : ${categories}" th:value="${category}"
                                th:text="${category.getCategory}">일반 게시글</option>
                    </select>
<!--                    <select th:field="*{category}">-->
<!--                        <option th:value=null th:text="전체"-->
<!--                                th:selected="${searchCondition.category == null}"></option>-->
<!--                        <option th:value="QNA" th:text="질문 게시글"-->
<!--                                th:selected="${searchCondition.category == 'QNA'}"></option>-->
<!--                        <option th:value="NORMAL" th:text="일반 게시글"-->
<!--                                th:selected="${searchCondition.category == 'NORMAL'}"></option>-->
<!--                        <option th:value="PROJECT" th:text="프로젝트 게시글"-->
<!--                                th:selected="${searchCondition.category == 'PROJECT'}"></option>-->
<!--                    </select>-->
                </div>
                <button type="submit" class="btn btn-primary bottom-btn">검색하기</button>
            </form>
            <p>
                <a class="btn btn-lg btn-light bottom-btn" href="/">목록</a>
            </p>
            <p>
                <a class="btn btn-lg btn-dark bottom-btn" href="/posts/write">글쓰기</a>
            </p>
        </div>
    </div> <!-- /container -->
</th:block>
</body>
</html>